.productsComponent {
  margin-top: 60px;
  padding: 45px;

  .title{
    text-transform: uppercase;
    font-weight: 300;
  }

  .category-products{
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 15% 85%;
  }
}
