.productsComponent {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  .title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
  }
}
