@import "./recs/recs";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $poppins;
}

@import "./header/exportHeader";
@import "./bestseller/bestseller";
@import "./cart/cart";
@import "./footer/footer"
