@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.newsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  background: #e67e22;
  height: 40px;
}

.newsSection .news {
  color: white;
  font-weight: 500;
  text-decoration: none;
  max-width: 80%;
  text-align: center;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 0 45px;
  width: 100vw;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.navigation .hamburger-menu {
  display: none;
}

.navigation .logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #202124;
  font-size: 24px;
}

.navigation .logo-section .logo-text {
  font-weight: 500;
  color: #202124;
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.navigation .logo-section .logo-text::-moz-selection {
  color: #e67e22;
}

.navigation .logo-section .logo-text::selection {
  color: #e67e22;
}

.navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .nav-list .nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #202124;
  text-transform: capitalize;
  font-weight: 400;
  position: relative;
}

.navigation .nav-list .nav-link::after {
  content: "";
  background: #e67e22;
  width: 0%;
  height: 2px;
  left: 0px;
  bottom: -5px;
  position: absolute;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.navigation .nav-list .nav-link:hover::after {
  width: 100%;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.navigation .nav .closeIcon {
  display: none;
}

.navigation .shopping-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .shopping-account .sa-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100%;
}

.navigation .shopping-account .sa-item {
  margin: 15px;
  height: 100%;
}

.navigation .shopping-account .sa-link {
  color: #202124;
  cursor: pointer;
  height: 100%;
}

.navigation .shopping-account .sa-link .icon {
  font-size: 32px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.navigation .shopping-account .sa-link .icon:hover {
  color: #e67e22;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.navigation .shopping-account #cart {
  position: relative;
}

.navigation .shopping-account #cart .cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #e67e22;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 400px) {
  .navigation {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .navigation .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation .hamburger-menu .icon {
    font-size: 30px;
    cursor: pointer;
    color: #202124;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
  }
  .navigation .hamburger-menu .icon:hover {
    color: #e67e22;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
  }
  .navigation .logo-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 80%;
    top: 0;
    left: -100vw;
    height: 100%;
    z-index: 999;
    background: #e67e22;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  .navigation .nav .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40%;
  }
  .navigation .nav .nav-list .nav-item .nav-link {
    color: white;
    font-size: 24px;
  }
  .navigation .nav .closeIcon {
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 34px;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;
  }
  .navigation .nav .closeIcon:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;
  }
  .navigation .openNav {
    left: 0;
    top: 0;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  .navigation .close {
    display: none;
  }
}

.hero {
  height: calc(100vh - 70px - 40px);
  width: 100vw;
}

.hero .content {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero .content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .content-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-transform: capitalize;
  font-size: 36px;
  text-align: center;
}

.hero .content-text h2 {
  margin-bottom: 30px;
}

.hero .content-text .buy-now-btn {
  padding: 20px 40px;
  color: #d1d2ce;
  text-decoration: none;
  background: #36322f;
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 500;
}

@media screen and (max-width: 580px) {
  .hero .content-text {
    width: 90%;
    font-size: 2rem;
  }
  .hero .content-text .buy-now-btn {
    width: 80%;
  }
}

.bestseller {
  padding: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bestseller-title {
  text-transform: uppercase;
  color: #202124;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.bestseller .products-display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 15px;
  grid-row-gap: 40px;
  margin-top: 50px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bestseller .products-display .product-div {
  width: 400px;
  height: 500px;
  border: 1px solid #a7a7a7;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 2fr 1fr;
      grid-template-rows: 3fr 2fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bestseller .products-display .product-div .imgContainer {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bestseller .products-display .product-div .imgContainer img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bestseller .products-display .product-div .infosContainer {
  width: 100%;
  text-align: center;
}

.bestseller .products-display .product-div .infosContainer > div {
  color: #202124;
  font-weight: 500;
  margin: 10px;
}

.bestseller .products-display .product-div .addContainer {
  width: 100%;
}

.bestseller .products-display .product-div .addContainer button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 15px 30px;
  max-width: 300px;
  background: #adbbae;
  color: white;
  width: 100%;
  cursor: pointer;
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
}

.bestseller .products-display .product-div .addContainer button:hover {
  background: #788178;
  border-radius: 5px;
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
}

.bestseller .see-all-products {
  margin-top: 80px;
}

.bestseller .see-all-products .see-all-products-btn {
  padding: 16px 32px;
  border: 2px solid #202124;
  background: #202124;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  .bestseller {
    width: 100vw;
  }
  .bestseller .products-display {
    -ms-grid-columns: (340px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 340px);
  }
  .bestseller .products-display .product-div {
    width: 340px;
    height: 500px;
  }
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(32, 33, 36, 0.7);
  cursor: pointer;
  z-index: 1000;
}

.cart-is-empty {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 2000;
  width: 30%;
  height: 100vh;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.cart .quit-button {
  height: 60px;
  padding: 15px;
}

.cart .quit-button .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background: #202124;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  width: 30%;
}

.cart .quit-button .btn .icon {
  font-size: 60px;
}

.cart .cart-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  padding: 20px;
  width: 100%;
  height: 80%;
  align-items: center;
}

.cart .cart-display .line {
  width: 100%;
  height: 2px;
  background: #a7a7a7;
  margin-bottom: 15px;
}

.cart .cart-display .products {
  width: 100%;
}

.cart .cart-display .product-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  width: 100%;
}

.cart .cart-display .product-div .imgContainer {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.cart .cart-display .product-div .imgContainer img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart .cart-display .product-div .infosContainer {
  width: 100%;
  text-align: center;
}

.cart .cart-display .product-div .infosContainer > div {
  color: #202124;
  font-weight: 500;
  margin: 10px;
}

.cart .cart-display .product-div .infosContainer > div .title {
  font-weight: 400;
  color: #707070;
}

.cart .cart-display .product-div .infosContainer > div .total {
  color: #a7a7a7;
}

.cart .cart-display .product-div .infosContainer .product-price {
  float: right;
  margin-top: 50px;
}

.cart .cart-display .product-div .infosContainer .product-quantity .form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 36px;
}

.cart .cart-display .product-div .infosContainer .product-quantity .form-div input[type="text"] {
  outline: none;
  text-align: center;
  border: 1px solid #202124;
  width: 80px;
  margin: 0 2px;
  font-size: 18px;
  font-weight: 500;
}

.cart .cart-display .product-div .infosContainer .product-quantity .form-div .handle {
  border: none;
  width: 40px;
  background: #202124;
  color: white;
  border: 1px solid #202124;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0;
  font-weight: 500;
}

.cart .cart-display .product-div .infosContainer .product-quantity .form-div .handle:hover {
  color: #a7a7a7;
}

.cart .cart-bottom-section {
  padding: 10px;
}

.cart .cart-bottom-section .line {
  width: 100%;
  height: 3px;
  background: #a7a7a7;
  margin-bottom: 15px;
}

.cart .cart-bottom-section .total-price-container {
  float: right;
  font-weight: 400;
  color: #707070;
}

.cart .cart-bottom-section .total-price-container .total-total-price {
  color: #202124;
  font-weight: 500;
  font-size: 18px;
}

.cart .cart-bottom-section .check-out-button {
  margin-top: 15px;
  border: none;
  padding: 15px 30px;
  background: #adbbae;
  color: white;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .cart {
    height: 100vh;
  }
  .cart .quit-button {
    width: 100%;
  }
  .cart .quit-button .btn {
    width: 80%;
    font-size: 14px;
  }
  .cart .cart-display {
    height: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .cart {
    height: 100vh;
    width: 80%;
  }
}

@media screen and (max-width: 1600px) {
  .cart {
    height: 100vh;
    width: 100%;
  }
}

.footer {
  margin-top: 80px;
  max-width: 100vw;
}

.footer .newsletter-subscribe-container {
  background: transparent;
  padding: 30px;
}

.footer .newsletter-subscribe-container .newsletter-container {
  height: 350px;
  background: #f3f0ee;
  color: #202124;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .newsletter-subscribe-container .newsletter-container .newsletter-title {
  font-size: 2.2rem;
  font-weight: 500;
}

.footer .newsletter-subscribe-container .newsletter-container .newsletter-details {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.footer .newsletter-subscribe-container .newsletter-container .form-div {
  width: 40vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: chocolate;
}

.footer .newsletter-subscribe-container .newsletter-container .form-div input[type="text"] {
  border: 1px #202124 solid;
  width: 70%;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  border-radius: 0px;
}

.footer .newsletter-subscribe-container .newsletter-container .form-div .subscribe-btn {
  width: 30%;
  background: #202124;
  font-size: 1rem;
  color: white;
  border: 1px #202124 solid;
  border-radius: 0px;
}

.footer .footer-container {
  background: #202124;
  color: #a7a7a7;
  font-size: 1rem;
  width: 100vw;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-container .title {
  color: #e67e22;
}

.footer .footer-container .quick-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .footer-container .quick-links .lists-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-container .quick-links .lists-container .list {
  list-style: none;
}

.footer .footer-container .quick-links .lists-container .list .item {
  margin-top: 10px;
}

.footer .footer-container .quick-links .lists-container .list .item .link {
  color: #a7a7a7;
  font-weight: 300;
  text-transform: lowercase;
  text-decoration: underline;
  font-size: 14px;
}

.footer .footer-container .address-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .footer-container .address-container .title {
  margin-bottom: 20px;
}

.footer .footer-container .address-container .address-list {
  list-style: none;
}

.footer .footer-container .address-container .address-list-item {
  font-size: 14px;
  color: #a7a7a7;
  font-weight: 300;
}

.footer .footer-container .newsletter-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .footer-container .newsletter-container .title {
  margin-bottom: 30px;
}

.footer .footer-container .newsletter-container .form-div {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-container .newsletter-container .form-div input[type="text"] {
  border: 1px #202124 solid;
  width: 60%;
  padding: 5px;
  font-size: 0.8rem;
  outline: none;
  border-radius: 0px;
}

.footer .footer-container .newsletter-container .form-div .subscribe-btn {
  width: 30%;
  background: #202124;
  font-size: 0.7rem;
  color: white;
  border: 2px #e67e22 solid;
  border-radius: 0px;
}

.footer .footer-container .social-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .footer-container .social-container .title {
  margin-bottom: 30px;
}

.footer .footer-container .social-container .list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-container .social-container .list .item {
  margin-left: 20px;
}

.footer .footer-container .social-container .list .item .link {
  color: #a7a7a7;
}

.footer .footer-container .social-container .list .item .link .social-icon {
  font-size: 32px;
}

.footer .bottom-footer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #17171a;
  color: #a7a7a7;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1600px) {
  .footer .footer-container .quick-links .lists-container {
    max-width: 80%;
  }
}

@media screen and (max-width: 1060px) {
  .footer .newsletter-subscribe-container .newsletter-container .form-div {
    width: 60vw;
  }
  .footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-container > div {
    width: 80%;
    margin-bottom: 40px;
  }
  .footer .footer-container .social-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    width: 100vw;
  }
  .footer .newsletter-subscribe-container {
    padding: 0;
  }
  .footer .newsletter-subscribe-container .newsletter-container {
    width: 100vw;
  }
  .footer .newsletter-subscribe-container .newsletter-container .form-div {
    width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .footer .footer-container .quick-links .lists-container {
    max-width: 80%;
  }
  .footer .footer-container .newsletter-container .form-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
  }
  .footer .footer-container .newsletter-container .form-div input[type="text"] {
    width: 80%;
  }
  .footer .footer-container .newsletter-container .form-div .subscribe-btn {
    width: 80%;
    height: 40px;
  }
}

.productsComponent {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productsComponent .title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}

.categories {
  margin: 120px 0 60px 0;
  width: 100vw;
}

.categories .category-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
}

.categories .category-list .category-item {
  cursor: pointer;
  color: #202124;
  font-size: 0.9rem;
  position: relative;
  text-decoration: underline;
}

.categories .category-list .category-item > .count {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f3f0ee;
  border-radius: 50%;
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -16px;
  right: -20px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.products .products-display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 15px;
  grid-row-gap: 40px;
  margin-top: 50px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .products-display .product-div {
  width: 400px;
  height: 500px;
  border: 1px solid #a7a7a7;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 2fr 1fr;
      grid-template-rows: 3fr 2fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .products-display .product-div .imgContainer {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .products-display .product-div .imgContainer img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .products-display .product-div .infosContainer {
  width: 100%;
  text-align: center;
}

.products .products-display .product-div .infosContainer > div {
  color: #202124;
  font-weight: 500;
  margin: 10px;
}

.products .products-display .product-div .addContainer {
  width: 100%;
}

.products .products-display .product-div .addContainer button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 15px 30px;
  max-width: 300px;
  background: #adbbae;
  color: white;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.products .products-display .product-div .addContainer button:hover {
  background: #788178;
  border-radius: 5px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.products .paginationBtns {
  margin-top: 50px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products .paginationBtns a {
  margin: 14px;
  font-size: 1.2rem;
  cursor: pointer;
}

.products .paginationBtns .left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.products .paginationActive {
  text-decoration: underline;
}
/*# sourceMappingURL=global.css.map */