.navigation {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;

  background: white;
  padding: 0 45px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;

  .hamburger-menu {
    display: none;
  }

  .logo-section {
    display: flex;
    flex: 1;
    color: $black-grey;
    font-size: 24px;

    .logo-text::selection {
      color: #e67e22;
    }
  }

  .nav {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;

    &-list {
      display: flex;
      list-style: none;
      align-items: center;
      width: 80%;
      justify-content: space-between;

      .nav-link {
        text-decoration: none;
        font-size: 16px;
        color: $black-grey;
        text-transform: lowercase;
        font-weight: 500;

        position: relative;

        &::after {
          content: "";
          background: #e67e22;
          width: 0%;
          height: 2px;
          left: 0px;
          bottom: -5px;

          position: absolute;

          transition: 0.3s all ease-in-out;
        }

        &:hover {
          &::after {
            width: 100%;
            transition: 0.3s all ease-in-out;
          }
        }
      }
    }

    .closeIcon {
      display: none;
    }
  }

  .shopping-account {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

    .sa-list {
      display: flex;
      list-style: none;
      height: 100%;
    }

    .sa-item {
      margin: 15px;
      height: 100%;
    }

    .sa-link {
      color: $black-grey;
      cursor: pointer;
      height: 100%;
      .icon {
        font-size: 32px;
        transition: 0.2s all ease-in-out;

        &:hover {
          color: #e67e22;
          transition: 0.2s all ease-in-out;
        }
      }
    }

    #cart {
      position: relative;

      .cart-count {
        position: absolute;
        top: -5px;
        right: -5px;
        background: #e67e22;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  transition: 0.2s all ease-in-out;
}

@media screen and (max-width: 1200px) {
  .navigation {
    top: 0;
    left: 0;
    right: 0;
    .hamburger-menu {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      .icon {
        font-size: 30px;
        cursor: pointer;
        color: $black-grey;

        transition: 0.2s all ease-in-out;

        &:hover {
          color: #e67e22;
          transition: 0.2s all ease-in-out;
        }
      }
    }

    .nav {
      display: flex;
      position: fixed;
      width: 100%;
      top: 0;
      left: -100vw;
      height: 100%;
      z-index: 999;
      background: white;
      border-right: 1px #a7a7a7 solid;
      align-items: center;

      transition: 0.5s all ease;

      .nav-list {
        flex-direction: column;

        height: 40%;
      }

      .closeIcon {
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;

        cursor: pointer;

        transition: 0.5s all ease-in;

        &:hover {
          transform: rotate(90deg);
          transition: 0.5s all ease-in;
        }
      }
    }

    .openNav {
      left: 0;
      top: 0;
      transition: 0.5s all ease;
    }

    .close {
      display: none;
    }
  }
}
